@font-face {
  src: url('/static/fonts/Montserrat-Regular.ttf');
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  src: url('/static/fonts/Montserrat-Bold.ttf');
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
}
@font-face {
  src: url('/static/fonts/Montserrat-Italic.ttf');
  font-family: 'Montserrat';
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  src: url('/static/fonts/Montserrat-Italic.ttf');
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: italic;
}
